<ion-header>
  <ion-toolbar align="center" style="color: rgb(220, 150, 20);">
    <ion-title>CREATE ACCOUNT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content pedding>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Fullname</ion-label>
          <ion-input type="text" [(ngModel)]="m_fullname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">E-mail</ion-label>
          <ion-input type="E-mail" [(ngModel)]="m_email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="Password" [(ngModel)]="m_pass"></ion-input>
        </ion-item>
       
      </ion-list>


      <div align="center" style="padding: 5px;">
        <ion-button color="danger" (click)="add_member(m_fullname,m_email,m_pass)">Submit</ion-button>
        <ion-button color="light"  (click)="gotoHomePage()">Sign In</ion-button>
      </div>


    </ion-card-content>
  </ion-card>

</ion-content>