<ion-header>
  <ion-toolbar align="center" style="color: rgb(220, 150, 20);">
    <ion-title>LIST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
<ion-card-content>
  <div>
    <tr>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td>ชื่อวิชา</td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>หน่วยกิต</td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>เกรด</td>
    </tr>
  <br>
    <tr>
      <td>
        <div class="col-sm-4">
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <select name="grade[]" id="G0">
            <option value="เลือก">เลือก</option>
            <option value="4.0">A</option>
            <option value="3.5">B+</option>
            <option value="3.0">B</option>
            <option value="2.5">C+</option>
            <option value="2.0">C</option>
            <option value="1.5">D+</option>
            <option value="1.0">D</option>
            <option value="0">F</option>
          </select>
        </div>
      </td>
    </tr>
  </div>
    <br>
        <div class="col-sm-4">
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <select name="grade[]" id="G0">
            <option value="เลือก">เลือก</option>
            <option value="4.0">A</option>
            <option value="3.5">B+</option>
            <option value="3.0">B</option>
            <option value="2.5">C+</option>
            <option value="2.0">C</option>
            <option value="1.5">D+</option>
            <option value="1.0">D</option>
            <option value="0">F</option>
          </select>
        </div>
    <br>
        <div class="col-sm-4">
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <select name="grade[]" id="G0">
            <option value="เลือก">เลือก</option>
            <option value="4.0">A</option>
            <option value="3.5">B+</option>
            <option value="3.0">B</option>
            <option value="2.5">C+</option>
            <option value="2.0">C</option>
            <option value="1.5">D+</option>
            <option value="1.0">D</option>
            <option value="0">F</option>
          </select>
        </div>
    <br>
        <div class="col-sm-4">
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <select name="grade[]" id="G0">
            <option value="เลือก">เลือก</option>
            <option value="4.0">A</option>
            <option value="3.5">B+</option>
            <option value="3.0">B</option>
            <option value="2.5">C+</option>
            <option value="2.0">C</option>
            <option value="1.5">D+</option>
            <option value="1.0">D</option>
            <option value="0">F</option>
          </select>
        </div>
    <br>
        <div class="col-sm-4">
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <select name="grade[]" id="G0">
            <option value="เลือก">เลือก</option>
            <option value="4.0">A</option>
            <option value="3.5">B+</option>
            <option value="3.0">B</option>
            <option value="2.5">C+</option>
            <option value="2.0">C</option>
            <option value="1.5">D+</option>
            <option value="1.0">D</option>
            <option value="0">F</option>
          </select>
        </div>
    <br>
        <div class="col-sm-4">
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <select name="grade[]" id="G0">
            <option value="เลือก">เลือก</option>
            <option value="4.0">A</option>
            <option value="3.5">B+</option>
            <option value="3.0">B</option>
            <option value="2.5">C+</option>
            <option value="2.0">C</option>
            <option value="1.5">D+</option>
            <option value="1.0">D</option>
            <option value="0">F</option>
          </select>
        </div>
    <br>
        <div class="col-sm-4">
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <select name="grade[]" id="G0">
            <option value="เลือก">เลือก</option>
            <option value="4.0">A</option>
            <option value="3.5">B+</option>
            <option value="3.0">B</option>
            <option value="2.5">C+</option>
            <option value="2.0">C</option>
            <option value="1.5">D+</option>
            <option value="1.0">D</option>
            <option value="0">F</option>
          </select>
        </div>
    <br>
        <div class="col-sm-4">
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <select name="grade[]" id="G0">
            <option value="เลือก">เลือก</option>
            <option value="4.0">A</option>
            <option value="3.5">B+</option>
            <option value="3.0">B</option>
            <option value="2.5">C+</option>
            <option value="2.0">C</option>
            <option value="1.5">D+</option>
            <option value="1.0">D</option>
            <option value="0">F</option>
          </select>
        </div>
    <br>
        <div class="col-sm-4">
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <input name="subj" type="text" value="" size="10" class="code" data-item="0" style="border: 1px solid #ccc;">&nbsp;
          <select name="grade[]" id="G0">
            <option value="เลือก">เลือก</option>
            <option value="4.0">A</option>
            <option value="3.5">B+</option>
            <option value="3.0">B</option>
            <option value="2.5">C+</option>
            <option value="2.0">C</option>
            <option value="1.5">D+</option>
            <option value="1.0">D</option>
            <option value="0">F</option>
          </select>
        </div>
        <br>
        <div>
          <ion-button (click)="add_cart(item.id,item.name,item.price,'1')" color="tertiary"  >Calulation</ion-button>
          <ion-button (click)="gotoHomePage()" color="danger">Log Out</ion-button>
        </div>
        
</ion-card-content>
</ion-card>
  
</ion-content>